*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(0, 0%, 10%, 0.9);
  padding: 1rem;
  font-size: 2rem;
}

/* color classes */
.bg-red {
  background-color: hsl(5, 80%, 50%);
}
.clr-red {
  color: hsl(5, 80%, 50%);
}
.bg-skin {
  background-color: hsl(30, 90%, 50%);
}
.clr-skin {
  color: hsl(30, 90%, 50%);
}
.bg-yellow {
  background-color: hsl(50, 80%, 60%);
}
.bg-green {
  background-color: hsl(90, 100%, 65%);
}
.bg-bright-green {
  background-color: hsl(140, 100%, 50%);
}
.bg-green-an {
  background-color: hsl(150, 100%, 60%);
}
.bg-greenish-blue {
  background-color: hsl(170, 100%, 60%);
}
.clr-greenish-blue {
  color: hsl(170, 100%, 60%);
}
.bg-sky-blue {
  background-color: hsl(190, 100%, 50%);
}
.clr-sky-blue {
  color: hsl(190, 100%, 50%);
}
.bg-violet {
  background-color: hsl(260, 70%, 60%);
}
.clr-violet {
  color: hsl(260, 70%, 60%);
}

.head {
  margin-top: 30px;
  text-align: center;
  color: #fff;
}

.wrap {
  border-bottom: 2px solid #000;
  height: 300px;
  padding-inline: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.box {
  width: 80px;
  height: 80px;
}

.multi-box {
  width: 50px;
  height: 50px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.small-box {
  width: 25px;
  height: 25px;
}

.triangle {
  width: 0;
  height: 0;
  border-width: 0 28px 50px 28px;
  border-style: solid;
  border-color: transparent transparent currentColor transparent;
}

.row {
  display: flex;
  column-gap: 5px;
}

.matrix {
  row-gap: 10px;
}

.btn {
  background-color: transparent;
  border: 1px solid currentColor;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

input {
  position: relative;
  margin-left: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  accent-color: currentColor;

  &::after {
    content: "";
    position: absolute;
    top: 49%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  }
}

.wrap-box-15 {
  position: relative;
}
.box-15 {
  position: absolute;
  top: 80px;
  left: 85px;
}
